<button mat-raised-button color="primary" style="margin-top:1%;margin-left: 70%;background-color:rgb(161, 29, 183);color:white"  disabled>{{currDate|customdate}}</button>
<button mat-raised-button color="primary" style="margin-top:1%;margin-left: 70%;background-color:rgb(161, 29, 183);"  (click)="PendingAppointments()">Pending Appointments</button>


  
   <h1 style="margin-top: -4%;">Welcome Back : {{dname}} <h2>these are your appointments for today</h2></h1><app-appointmentsfortoday [docid]="docid" [dname]="dname" [docemail]="docemail"></app-appointmentsfortoday>

    

  