#card{
    box-shadow: black 12% 12% 12%;
    background: rgb(235, 233, 233);
    width: 80%;
    margin: auto;
}
#textbox{
    margin-left: 5.5%;
    width: 90%;
}

#buttons{
    margin-left: 5.5%;
}

#B1{
    margin-left: 1%;
}
h1{
    text-align: center;
    padding-top: 2%;
}

#B1,#B2,#B3{
    background-color: rgb(161, 29, 183);
    color: white;
}

#B3{
    margin-left:36%;
    margin-top: 2%;
    padding: 2%;
    font-size: large;
}