<button id="close" mat-button [mat-dialog-close]="true" cdkFocusInitial><mat-icon>close</mat-icon></button>
<div id="edit">
<form class="example-form" #passwordChange="ngForm" (ngSubmit)="Save(passwordChange.value)">
    <mat-form-field class="example-full-width">
      <mat-label>Current Password</mat-label>
      <input type="password" [type]="showPassword ? 'text' : 'password'" matInput placeholder="Enter Password" name="currentpassword" ngModel
             placeholder="Ex. pat@example.com" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!])(?=\S+$).{8,20}" required>
             <mat-icon class="icon-pwd" matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" [type]="showPassword1 ? 'text' : 'password'" matInput placeholder="Enter Password" name="newpassword" [(ngModel)]="newpassword"
               placeholder="Ex. pat@example.com" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!])(?=\S+$).{8,20}" required>
                        <mat-icon class="icon-pwd" matSuffix (click)="togglePasswordVisibility1()">{{showPassword1?'visibility_off':'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Re-Enter new Password</mat-label>
        <input type="password" [type]="showPassword2 ? 'text' : 'password'" matInput placeholder="Enter Password" name="renewpassword" [(ngModel)]="renewpassword" (ngModelChange)="onChange($event)"
               placeholder="Ex. pat@example.com" [pattern]="newpassword" required >
               <mat-icon class="icon-pwd" matSuffix (click)="togglePasswordVisibility2()">{{showPassword2?'visibility_off':'visibility'}}</mat-icon>
               <div *ngIf="passwordsDoNotMatch" style="color: red">Passwords do not match!</div>
      </mat-form-field>
    <button mat-button type="submit" id="bt1" [disabled]="!passwordChange.form.valid">Save</button>
  </form>
</div>