.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #close{
    background-color: rgb(255, 255, 255);
    float: right;
    width: fit-content;
    margin-right: 1%;
    margin-bottom: 3%;
  }

  #edit{
    padding: 2%;
  }

  .password-mismatch {
    border-color: red;
  }

  #bt1{
    background: #A11DB7;
    color: white;
  }
  #bt1:disabled{
    background: #b984c2;
    color: white;
  }