<div class="logoback"></div>

<br>
<div class="body">
    <div id="subheading">Why Choose Us?</div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
      <mat-card class="features">
      <mat-grid-list cols="2">
          <mat-grid-tile>
              <img mat-card-image src="../../../assets/feature1.jpeg" alt="feature1" >
          </mat-grid-tile>
          <mat-grid-tile>
              <p><span><h1>10000+ Helping Hands</h1></span> Network of the world’s finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology. </p>
          </mat-grid-tile>
      </mat-grid-list>
      </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
      <mat-card class="features">
          <mat-grid-list cols="2">
              <mat-grid-tile>
                  <p><span><h1>Most Advanced Healthcare Technologies</h1></span> WhizCare Hospitals has been the pioneer in bringing ground-breaking healthcare technologies to India. </p>
              </mat-grid-tile>
              <mat-grid-tile>
                  <img mat-card-image src="../../../assets/feature2.jpeg" alt="feature2">
      
              </mat-grid-tile>
          </mat-grid-list>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="features">
          <mat-grid-list cols="2">
              <mat-grid-tile>
                  <img mat-card-image src="../../../assets/vission.jpg" alt="feature3">
              </mat-grid-tile>
              <mat-grid-tile>
                  <p><span><h1>Vision</h1></span> To be an ethically preferred and well respected multispecialty health care provider in India. Be a place of choice for all the health care needs of the people well beyond our catchment area. </p>
              </mat-grid-tile>
          </mat-grid-list>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="features">
              <mat-grid-list cols="2">
    
                  <mat-grid-tile>
                      <p><span><h1>Mission</h1></span> To provide personalized medical care in an environment built on honesty and integrity, utilizing the finest technology and render compassionate patient care by enhancing our range of services on a continuous basis. </p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <img mat-card-image src="../../../assets/mission.jpeg" alt="feature4">
                </mat-grid-tile>
              </mat-grid-list>
              </mat-card>
            </mat-grid-tile>
    </mat-grid-list>
  </div>
  <footer>
    <mat-toolbar class="footer">
        <div class="fottercon">
        <mat-icon>copyright</mat-icon>WhizCareHospitalGroups.org
    </div>
    </mat-toolbar>
  </footer>