
  <form #appointmentForm="ngForm" (ngSubmit)="addAvailability(appointmentForm.value)">
    
      <mat-checkbox color="primary" name="monday" [(ngModel)]="days.monday">Monday</mat-checkbox><br>
      <mat-checkbox color="primary" name="tuesday"  [(ngModel)]="days.tuesday">Tuesday</mat-checkbox><br>
      <mat-checkbox color="primary" name="wednesday"  [(ngModel)]="days.wednesday">Wednesday</mat-checkbox><br>
      <mat-checkbox color="primary" name="thursday" [(ngModel)]="days.thursday">Thursday</mat-checkbox><br>
      <mat-checkbox color="primary" name="friday"  [(ngModel)]="days.friday">Friday</mat-checkbox><br>
      <mat-checkbox color="primary" name="saturday"  [(ngModel)]="days.saturday">Saturday</mat-checkbox><br>
      <mat-checkbox color="primary" name="sunday"  [(ngModel)]="days.sunday">Sunday</mat-checkbox><br>
    
    <button mat-raised-button [mat-dialog-close] type="submit" >Add</button>
  </form>
